* {
    margin: 0;
    padding: 0;
}

.nav-top {
    display: flex;
    height: 60px;
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

.nav-item {
    margin-left: 20px;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%
}

    .nav-link:hover {
        text-decoration: none;
    }

.cart {
    position: relative;
    background-color: dodgerblue;
    padding: 5px;
}

    .cart i {
        font-size: 30px;
        color: red;
    }

.cart-float {
    float: right;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}

.listBook {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-book {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-book:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-image {
    width: auto;
    height: auto;
}
.card-image img {
    width: auto;
    height: 100%;
}

.card-control button {
    border: 0;
    padding: 10px;
}

.card-name {
    font-size: 20px;
    text-align: center;
}

.card-author {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.card-price {
    display: flex;
    font-size: 18px;
}

.first-price {
    color: red;
}

.second-price {
    margin-left: 10px;
    text-decoration: line-through;
}
button:hover {
    cursor: pointer;
}
